In [104]:
import pandas as pd   
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 

## Data Loading and Inspection

delays_df = pd.read_csv(r'data/airlines_delay.csv') # load the dataset
delays_df.head(5) # show first 5 rows of the dataset

   Flight    Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
0  2313.0  1296.0   141.0      DL         ATL       HOU          1      0
1  6948.0   360.0   146.0      OO         COS       ORD          4      0
2  1247.0  1170.0   143.0      B6         BOS       CLT          3      0
3    31.0  1410.0   344.0      US         OGG       PHX          6      0
4   563.0   692.0    98.0      FL         BMI       ATL          4      0

In [105]:
delays_df.tail(5) # show last 5 rows of the dataset

        Flight   Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
539377  6973.0  530.0    72.0      OO         GEG       SEA          5      1
539378  1264.0  560.0   115.0      WN         LAS       DEN          4      1
539379  5209.0  827.0    74.0      EV         CAE       ATL          2      1
539380   607.0  715.0    65.0      WN         BWI       BUF          4      1
539381  6377.0  770.0    55.0      OO         CPR       DEN          2      1

In [106]:
delays_df.info() # show the dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539382 entries, 0 to 539381
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Flight       539382 non-null  float64
 1   Time         539382 non-null  float64
 2   Length       539382 non-null  float64
 3   Airline      539382 non-null  object
 4   AirportFrom  539382 non-null  object
 5   AirportTo    539382 non-null  object
 6   DayOfWeek    539382 non-null  int64
 7   Class        539382 non-null  int64
dtypes: float64(3), int64(2), object(3)
memory usage: 32.9+ MB

## Manipulate and Clean Data

In [107]:
#set Flight column as index
delays_df.set_index('Flight',inplace=True)

#convert the index to string
delays_df.index = delays_df.index.map(lambda x: str(x)[:-2]) 
delays_df.head(5)

          Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
Flight
2313    1296.0   141.0      DL         ATL       HOU          1      0
6948     360.0   146.0      OO         COS       ORD          4      0
1247    1170.0   143.0      B6         BOS       CLT          3      0
31      1410.0   344.0      US         OGG       PHX          6      0
563      692.0    98.0      FL         BMI       ATL          4      0

In [108]:
#change the column names
delays_df.rename(columns={
    'Flight': 'Flight ID',
    'Time': 'Time of departure',
    'Length': 'Length of Flight'
}, inplace=True)

In [109]:
# Change Time of departure column from minutes to time value
delays_df['Time of departure'] = delays_df['Time of departure'].map(lambda x: pd.to_timedelta(x, unit='m')) 

# Convert Timedelta to datetime
delays_df['Time of departure'] = pd.to_datetime(delays_df['Time of departure'].dt.total_seconds(), unit='s')

# Format time column as hours and minutes
delays_df['Time of departure'] = delays_df['Time of departure'].dt.strftime('%H:%M')

# Show the first 5 rows
delays_df.head(5)

,Time of departure,Length of Flight,Airline,AirportFrom,AirportTo,DayOfWeek,Class
Flight,,,,,,,
2313,21:36,141.0,DL,ATL,HOU,1,0
6948,06:00,146.0,OO,COS,ORD,4,0
1247,19:30,143.0,B6,BOS,CLT,3,0
31,23:30,344.0,US,OGG,PHX,6,0
563,11:32,98.0,FL,BMI,ATL,4,0