In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r'data/airlines_delay.csv') # read the dataset
df.head(10) # show first 10 rows of the dataset

   Flight    Time  Length Airline AirportFrom AirportTo  DayOfWeek  Class
0  2313.0  1296.0   141.0      DL         ATL       HOU          1      0
1  6948.0   360.0   146.0      OO         COS       ORD          4      0
2  1247.0  1170.0   143.0      B6         BOS       CLT          3      0
3    31.0  1410.0   344.0      US         OGG       PHX          6      0
4   563.0   692.0    98.0      FL         BMI       ATL          4      0
5  3692.0   580.0    60.0      WN         MSY       BHM          4      0
6  1135.0   690.0   239.0      CO         EWR       DFW          4      0
7  1300.0  1210.0    80.0      AA         DFW       MEM          3      0
8   587.0  1295.0   105.0      FL         BWI       GRR          7      0
9   764.0   530.0   108.0      FL         ATL       PBI          3      0